[flake8]
# Максимальная длина строки
max-line-length = 120

# Игнорируемые ошибки (например, E203 - пробел перед двоеточием, W503 - разрыв строки перед оператором)
ignore = E203, W503

# Файлы и папки, которые нужно исключить из проверки
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    build,
    dist

# Сложность кода (McCabe)
max-complexity = 10